.main-content-container {
    padding: var(--padding-medium) var(--padding-medium);
    margin-top: var(--margin-xxlarge);
}

.main-content-header-container {

}

.main-content-header {

}

.main-content-numOfItems {

}

.main-content-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}