.main-content-container {
    padding: var(--padding-medium) var(--padding-medium);
    margin-top: var(--margin-xxlarge);
}

.main-content-header-container {

}

.main-content-header {
    margin-bottom: var(--margin-small);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    color: var(--gray-600);
}

.main-content-numOfItems {
    display: none;
}

.main-content-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}