.list-item {
    background-color: var(--gray-200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-small);
    list-style: none;
    border-radius: var(--border-radius-small);
}

.list-item-checkbox {
    cursor: pointer;
}


.list-item-itemName {
    font-size: var(--font-size-small);
}

.list-item-quantity {
    font-size: var(--font-size-small);

}

.list-item-unit {
    font-size: var(--font-size-small);
}

.list-item-delete-button {
    padding: 4px 6px;
    cursor: pointer;
}

/* checked / unchecked */

input[type="checkbox"]:checked ~ *:not(:last-child) {
   text-decoration: line-through;
   color: var(--gray-600);

   
}